<!DOCTYPE html>
<html>
<head>
<title>Dip Powder DIY Powders</title>
</head>

<body>
<h1>DIY Powders</h1>
<h2>How to Create Your Own Colored Powder</h2>
<p> </p>
<h3> Things you will need: </h3>
<p>   ~ Oil Pastels (in any color(s) you want) </p>
<p>   ~ Clear Dip Powder </p>
<p>   ~ Nail Dremel </p>
<p>   ~ Container to mix/store the powder </p>
<p> </p>
<h3> What to do: </h3>
<p>   ~ Using the nail dremel, grind off a little bit of the oil pastels into the container. </p>
<p>   ~ Add in a couple spoon fulls of clear dip powder to the container. </p>
<p>   ~ Using the nail dremel again, carefully mix the pastel and powder together. </p>
<p>   ~ You may need to seal the container and give it a good shake to finalize the mixture. </p>
<p>   ~ Come up with a fun and clever name to go with your new color(s). </p>

<!-- Add in pictures of my own dip powders.. Take pictures of the process -->

</body>
</html>